<p style="color: green"><%= notice %></p>

<%= render @executive_report %>

<div>
  <%= link_to "Edit this executive report", edit_executive_report_path(@executive_report) %> |
  <%= link_to "Back to executive reports", executive_reports_path %>

  <%= button_to "Destroy this executive report", @executive_report, method: :delete %>
</div>
